<div class="container mt-4">
  <h2 class="text-center fs-1 ">Dashboard</h2>

  <div class="row mt-3">
    <div class="col-md-4 mb-3">
      <a [routerLink]="['/produits']" class="text-decoration-none text-white">
        <div class="card text-white bg-primary shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Produits</h5>
            <p class="card-text fs-3">{{ totalProduits }}</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4 mb-3">
      <a [routerLink]="['/fournisseurs']" class="text-decoration-none text-white">
        <div class="card text-white bg-success shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Fournisseurs</h5>
            <p class="card-text fs-3">{{ totalFournisseurs }}</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4 mb-3">
      <a [routerLink]="['/employes']" class="text-decoration-none text-white">
      <div class="card text-white bg-warning shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Employés</h5>
          <p class="card-text fs-3">{{ totalEmployes }}</p>
        </div>
      </div>
      </a>
    </div>
  </div>


<div style="width: 800px; margin: auto; margin-top: 50px;">
  <h3 class="text-center mb-2">Produits par fournisseur</h3>
  <canvas baseChart
          [data]="fournisseurChartData"
          [type]="fournisseurChartType"
          [options]="fournisseurChartOptions">
  </canvas>
</div>

